*
{
    border: 0;
    margin: 0;
    border-style: none;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;


    --primary_color: #1c1c1c ;
    --accent: #4f7be0;
    --secondary_accent: #d260ce;
    --text-color-1: #1c1c1c;
    --text-color-2: #ffffff;
    --background-color: #3a3a3a;
    --content-cards: #e0e0e0a6;
}

#active
{
    color: var(--secondary_accent);
}

h1, h2  
{
    font-family: "Special Gothic Expanded One", sans-serif;
    font-size: clamp(1.5rem, 3vh, 2.5rem);
}

h3
{
    font-size: clamp(1.25rem, 2vh, 2rem);
}

p
{
    font-size: clamp(1.0rem, 2vh, 1.75rem);
}

body
{
    color: var(--text-color-1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--primary_color);
}

img {
    transition: transform 0.3s ease;
}

img:hover {
    transform: scale(1.05);
}

/* start header styling */
header
{
    height: 10vh;
    width: 90%;
    background-color: var(--primary_color);
    color: var(--text-color-2);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-expand
{
    display: none;
}

.nav-collapse
{
    padding-left: 5%;
    width: 100%;
    background-color: var(--primary_color);
}

.nav-collapse a, .nav-expand a
{
    color: var(--text-color-2);
    text-decoration: none;
}

.nav-collapse a:hover, a:focus, .nav-expand a:hover, a:focus
{
    color: var(--accent);
    text-decoration: underline;
}

#custom-toggle
{
    cursor: pointer;
    height: 100%;  
}

#logo
{
    height: 200%;
}
/* end header styling */


/* start home page styling */
.home-main-container
{
    background-color: var(--background-color);
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;
    height: 200vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 15px;
}

.welcome-box
{
    gap: 10px;
    display: flex;
    flex-direction: column;
    background-color: var(--content-cards);
    width: 90%;
    height: 30%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
}

.soundcloud-box
{
    padding-left: 5%;
    padding-right: 5%;
    gap: 10px;
    display: flex;
    flex-direction: column;
    background-color: var(--content-cards);
    width: 80%;
    height: 30%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
}

.previous-event-box
{
    padding: 5%;
    gap: 10px;
    display: flex;
    flex-direction: column;
    background-color: var(--content-cards);
    width: 80%;
    height: 35%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    overflow: hidden;
}

.home-image-container-box
{
    gap: 10px;
    height: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.home-image-container-box img
{
    max-width: 50%;
    height: 100%;
    object-fit: cover;
}

.home-main-container a
{
    background-color: var(--accent);
    border-radius: 10px;
    padding: 3%;
    color: var(--text-color-2);
    text-decoration: none;
    transition: background-color 500ms;
}

.home-main-container a:hover, a:focus
{
    color: var(--text-color-2);
    background-color: var(--secondary_accent);
}
/* end home page styling */

/* start contact us styling */

.contact-main-container
{
    background-color: var(--background-color);
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;
    height: 75vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.form-box
{
    display: flex;
    flex-direction: column;
    background-color: var(--content-cards);
    width: 90%;
    height: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.form-info
{
    display: none;
}

.form-box h1
{
    text-align: center;
}

.form-box h3
{
    text-align: center;
}

.form-box form
{
    width: 90%;
}

.form-box input[type="text"], input[type="email"]
{
    width: 95%;
    height: 10%;
    border: solid;
    border-radius: 5px;
}

.form-box textarea
{
    width: 95%;
    border: solid;
    border-radius: 5px;
}

.form-box input[type="text"]:focus, input[type="text"]:hover, input[type="email"]:focus, input[type="email"]:hover, textarea:hover, textarea:focus
{
    border-color: var(--accent);
}

.form-box input[type="submit"]
{
    width: 95%;
    height: 15%;
    color: var(--text-color-2);
    background-color: var(--accent);
    transition: background-color 500ms;
}

.form-box input[type="submit"]:hover, input[type="submit"]:focus
{
    background-color: var(--secondary_accent);
}

/*end contact us styling */

/*start gallery styling */
.gallery-main-container
{
    background-color: var(--background-color);
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    height: 75vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.gallery-card
{
    display: flex;
    flex-direction: column;
    background-color: var(--content-cards);
    width: 90%;
    height: 90%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
}

.gallery-photo-container
{
    display: flex;
    align-items: center;
    gap: 10px;
    overflow-y: auto;
    width: 90%;
    height: 80%;
    scrollbar-width: thin;
}
.gallery-photo-container img, video
{
    height: 95%;
}
/* end gallery styling */


/* start about styling */

.about-main-container
{
    background-color: var(--background-color);
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    height: 200vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.about-container
{
    display: flex;
    flex-direction: column;
    background-color: var(--content-cards);
    width: 90%;
    height: 40%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    overflow: auto;
}

.dj-card
{
    display: flex;
    flex-direction: column;
    background-color: var(--content-cards);
    width: 90%;
    height: 25%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
}

.dj-photo {
    height: 60%;
    margin-top: 1rem;
    object-fit: cover;
}


/* end about styling */

/* start rentals styling */
.rental-main-container
{
    background-color: var(--background-color);
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    height: 250vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.rental-containers
{
    background-color: var(--content-cards);
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;
    height: 17%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.rental-containers img
{
    height: 50%;
    margin-top: 1rem;
    object-fit: cover;
}

.rental-containers a 
{
    background-color: var(--accent);
    border-radius: 10px;
    padding: 3%;
    color: var(--text-color-2);
    text-decoration: none;
    transition: background-color 500ms;
}

.rental-containers a:hover, a:focus
{
    color: var(--text-color-2);
    background-color: var(--secondary_accent);
}

/* end rentals styling */


footer
{
    display: flex;
    flex-direction: column;
    background-color: var(--primary_color);
    color: var(--text-color-2);
    width: 100%;
    height: 10vh;
    align-items: center;
    justify-content: center;
}

@media screen and (min-aspect-ratio: 1/0.9) 
{
    #custom-toggle
    {
        display: none; 
    }

    .nav-collapse ul
    {
        display: none;
    }

    .nav-expand
    {
        display: flex;
        width: 60%;
        justify-content: end;
    }

    .nav-expand ul
    {
        list-style-type: none;
        gap: 40px;
        display: flex;
        flex-direction: row;
    }
    /*home page desktop styling*/
    .home-main-container
    {
        height: 75vh;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: space-evenly;
    }

    .welcome-box
    {
        width: 30%;
        height: 60%;
    }
    
    .soundcloud-box
    {
        padding: 0;
        width: 30%;
        height: 30%;
    }


    .previous-event-box
    {
        width: 65%;
        height: 90%;
        padding: 0;
    }
    .home-image-container-box
    {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 60%;
    }
    /* end home page styling*/ 

    /*contact html desktop styling */
    .contact-main-container
    {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 2.5vh;
        margin-bottom: 2.5vh;
        height: 75vh;
    }

    .form-box
    {
        width: 30%;
    }

    .form-info
    {
        display: flex;
        flex-direction: row;
        background-color: var(--content-cards);
        width: 60%;
        height: 100%;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
        align-items: center;
        justify-content: space-evenly;
    }

    .form-info img
    {
        grid-area: image;
        height: 80%;
        max-width: 50%;
        object-fit: cover;
        object-position: left;
    }

    .form-info-testimonials
    {
        display: flex;
        flex-direction: column;
        width: 35%;
        height: 80%;
        overflow: hidden;
    }

    .testimonial-area
    {
        overflow-y: hidden;
    }
    /* end contact desktop styling */

    /*begin about us desktop styling */

    .about-main-container
    {
        background-color: var(--background-color);
        margin-top: 2.5vh;
        margin-bottom: 2.5vh;
        height: 75vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }

    .about-container
    {
        display: flex;
        flex-direction: column;
        background-color: var(--content-cards);
        width: 40%;
        height: 90%;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
        align-items: center;
        justify-content: space-evenly;
        text-align: center;
        overflow: auto;
    }

    .dj-card
    {
        display: flex;
        flex-direction: column;
        background-color: var(--content-cards);
        width: 40%;
        height: 40%;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
        align-items: center;
        justify-content: space-evenly;
        overflow: hidden;
    }
    /* end about us desktop styling */

    /*start rentals desktop styling*/
    .rental-main-container
    {
        background-color: var(--background-color);
        margin-top: 2.5vh;
        margin-bottom: 2.5vh;
        height: 75vh;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }

    .rental-containers
    {
        background-color: var(--content-cards);
        padding-top: 2.5vh;
        padding-bottom: 2.5vh;
        height: 40%;
        width: 25%;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
    /*end rentals desktop styling */
}
  